@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";



@theme{
  --color-mygreen-600: #40DE63;
  --color-mywhite-500: #FFFFFF;
  --color-white-segund-600: #F5F5F5;
  --color-mygray-500: #9F9F9F;
  --color-tetest-400: #17443D;
  --color-myborder-600: #2F4E8C;
  --color-myblue-600: #302266;
  --color-newwhite-600: #FAEFFA;
  --color-white-r-600: #F3FBF3;
  --color-myblack-600: #090308;
  --color-black-segund-600: #081418;
  --color-blue-segund-400: #588DC7;
  --font-mypoppins: "Poppins", sans-serif;
}



body {
  width: 100auto;
  height: 100auto;
}
